= semantic_form_for [:admin, resource], remote: true do |form|

  -#= @page.errors.full_messages

  = form.inputs id: 'related_item_fields' do
    = form.input :related_url
    = form.input :title
    = form.input :relatable_type, as: :hidden, input_html: { value: resource.relatable_type }
    = form.input :relatable_id, as: :hidden, input_html: { value: resource.relatable_id }
  = form.actions :submit
