<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3><%= t("active_admin.cms.forms.new_form_email.header", form_title: @form.title) %></h3>
<p>
  <%= t("active_admin.cms.forms.new_form_email.body") %>
</p>
<p>
  <%= link_to t("active_admin.cms.forms.new_form_email.preview_link"), "http://#{ActionMailer::Base.default_url_options[:host]}/forms/#{@form.id}/download?form_uuid=#{@form_uuid}" %>
</p>
<p>
  <%= link_to t("active_admin.cms.forms.new_form_email.print_link"), "http://#{ActionMailer::Base.default_url_options[:host]}/forms/#{@form.id}/download?form_uuid=#{@form_uuid}&print=true" %>
</p>
<p>
  <%= link_to t("active_admin.cms.forms.new_form_email.pdf_link"), "http://#{ActionMailer::Base.default_url_options[:host]}/forms/#{@form.id}/download.pdf?form_uuid=#{@form_uuid}" %>
</p>
</body>
</html>