= semantic_form_for [:admin, resource], remote: true, html: { multipart: true } do |form|

  -#= @page.errors.full_messages

  = form.inputs id: 'attachment_fields' do
    = form.input :data, hint: resource.data_file_name
    = form.input :assetable_type, as: :hidden, input_html: { value: resource.assetable_type }
    = form.input :assetable_id, as: :hidden, input_html: { value: resource.assetable_id }
    = form.input :cover_width, as: :hidden, input_html: { value: resource.assetable.activeadmin_selleo_cms_section.cover_width }
    = form.input :cover_height, as: :hidden, input_html: { value: resource.assetable.activeadmin_selleo_cms_section.cover_height }
    = form.input :cover_resize_method, as: :hidden, input_html: { value: resource.assetable.activeadmin_selleo_cms_section.cover_resize_method }
    = form.input :cover, hint: (resource.cover.exists? ? image_tag(resource.cover.url) : t("active_admin.cms.file_manager.no_cover"))
    = form.input :caption
  = form.actions :submit
