<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= wicked_pdf_stylesheet_link_tag "components/forms" -%>
</head>
<body>

<%= form_tag '/forms', multipart: true, id: dom_id(@form), data: {form_id: @form.id} do %>
<ol class="questions">
  <% @form.questions.each do |question| %>
      <li class="question <%= question.input_type %>">
        <div class="questions_labels">
          <%= label_tag dom_id(question), question.title %>
          <% if question.hint.present? %>
              <p class="hint"><%=  question.hint  %></p>
          <% end %>
        </div>
        <% if [:check_box_tag].include? question.input_type %>
            <div class="questions_options">
              <% question.options.each do |option| %>
                  <%= send(question.input_type, "#{dom_id(question)}[]", option.id, ActiveadminSelleoCms::FormAnswer.value_for(params[:form_uuid], dom_id(option))=="true", required: question.is_required, id: dom_id(option), data: {form_question_id: question.id} ) %>
                  <%= label_tag dom_id(option), option.title %>
              <% end %>
              <%= text_field_tag "#{dom_id(question)}_other", ActiveadminSelleoCms::FormAnswer.value_for(params[:form_uuid], "#{dom_id(question)}_other"), data: {form_question_id: question.id} if question.has_other_option %>
            </div>
        <% elsif [:radio_button_tag].include? question.input_type %>
            <div class="questions_options">
              <% question.options.each do |option| %>
                  <%= send(question.input_type, dom_id(question), option.id, ActiveadminSelleoCms::FormAnswer.value_for(params[:form_uuid], dom_id(option)), required: question.is_required, id: dom_id(option), data: {form_question_id: question.id}) %>
                  <%= label_tag dom_id(option), option.title %>
              <% end %>
              <%= text_field_tag "#{dom_id(question)}_other", ActiveadminSelleoCms::FormAnswer.value_for(params[:form_uuid], "#{dom_id(question)}_other"), data: {form_question_id: question.id} if question.has_other_option %>
            </div>
        <% elsif [:file_field_tag].include? question.input_type %>
            <% if file = ActiveadminSelleoCms::FormAnswer.file_for(params[:form_uuid], dom_id(question)) %>
                <p><%= link_to file.data_file_name, file.data.url %></p>
            <% end %>
            <%#= button_to_function "Select file", "fileUpload('#{dom_id(@form)}', '#{dom_id(question)}', #{question.id})", style: "padding: 5px;" %>
        <% else %>
            <%= send(question.input_type, dom_id(question), ActiveadminSelleoCms::FormAnswer.value_for(params[:form_uuid], dom_id(question)), required: question.is_required, data: {form_question_id: question.id}) %>
        <% end %>
      </li>
  <% end %>
</ol>
<% end %>

</body>
</html>
