= button_to_function t("active_admin.cms.forms.submit"), "deliver(#{form.id}, '#{dom_id(form)}')", class: 'send'
= form_tag '/forms', multipart: true, id: dom_id(form), data: {form_id: form.id} do
  %ol.questions
    - form.questions.each do |question|
      %li{:class => "question #{question.input_type}"}
        - unless question.input_type == :legend
          .questions_labels
            = label_tag dom_id(question), question.label
            - if question.hint.present?
              %p.hint= question.hint
        - if [:check_box_tag].include? question.input_type
          .questions_options
            - question.options.each do |option|
              = send(question.input_type, "#{dom_id(question)}[]", option.id, false, required: question.is_required, id: dom_id(option), data: {form_question_id: question.id} )
              = label_tag dom_id(option), option.label
            - if question.has_other_option
              = label_tag "#{dom_id(question)}_other", t("active_admin.cms.forms.other")
              = text_field_tag "#{dom_id(question)}_other", "", data: {form_question_id: question.id} if question.has_other_option
        - elsif [:radio_button_tag].include? question.input_type
          .questions_options
            - question.options.each do |option|
              = send(question.input_type, dom_id(question), option.id, false, required: question.is_required, id: dom_id(option), data: {form_question_id: question.id})
              = label_tag dom_id(option), option.label
            - if question.has_other_option
              = label_tag "#{dom_id(question)}_other", t("active_admin.cms.forms.other")
              = text_field_tag "#{dom_id(question)}_other", "", data: {form_question_id: question.id}
        - elsif [:file_field_tag].include? question.input_type
          .file_upload{"data-question-id" => question.id}
            .files
            = button_to_function t("active_admin.cms.forms.upload_new_file"), "fileUpload('#{dom_id(form)}', '#{dom_id(question)}', #{question.id})", style: "padding: 5px;"
        - elsif question.input_type == :legend
          %legend= question.label
        - else
          = send(question.input_type, dom_id(question), "", required: question.is_required, data: {form_question_id: question.id})

= button_to_function "", "print(#{form.id}, '#{dom_id(form)}')", class: 'print', title: t("active_admin.cms.forms.print")
= button_to_function "", "downloadPDF(#{form.id}, '#{dom_id(form)}')", class: 'save', title: t("active_admin.cms.forms.pdf")
= button_to_function t("active_admin.cms.forms.submit"), "deliver(#{form.id}, '#{dom_id(form)}')", class: 'send'

:javascript
  $(function(){
      setupCmsForm('#{dom_id(form)}');
  });

  function downloadPDF(form_id, form_dom_id){
      window.location='/forms/'+form_id+'/download.pdf?form_uuid='+localStorage[form_dom_id];
  }

  function print(form_id, form_dom_id){
      window.open('/forms/'+form_id+'/download?print=true&form_uuid='+localStorage[form_dom_id]);
  }

  function deliver(form_id, form_dom_id) {
      if ($('#'+form_dom_id).valid() == true) {
          window.location='/forms/'+form_id+'/deliver?form_uuid='+localStorage[form_dom_id];
      }
  }