<%= form_tag '/forms', multipart: true, id: dom_id(form), data: {form_id: form.id} do %>
  <ol class="questions">
    <% form.questions.each do |question| %>
      <li class="question <%= question.input_type %>">
        <div class="questions_labels">
            <%= label_tag dom_id(question), question.title %>
            <% if question.hint.present? %>
                <p class="hint"><%=  question.hint  %></p>
            <% end %>
        </div>
        <% if [:check_box_tag].include? question.input_type %>
            <div class="questions_options">
                <% question.options.each do |option| %>
                    <%= send(question.input_type, "#{dom_id(question)}[]", option.id, false, required: question.is_required, id: dom_id(option), data: {form_question_id: question.id} ) %>
                    <%= label_tag dom_id(option), option.title %>
                <% end %>
                <%= text_field_tag "#{dom_id(question)}_other", "", data: {form_question_id: question.id} if question.has_other_option %>
            </div>
      <% elsif [:radio_button_tag].include? question.input_type %>
            <div class="questions_options">
                <% question.options.each do |option| %>
                    <%= send(question.input_type, dom_id(question), option.id, false, required: question.is_required, id: dom_id(option), data: {form_question_id: question.id}) %>
                    <%= label_tag dom_id(option), option.title %>
                <% end %>
                <%= text_field_tag "#{dom_id(question)}_other", "", data: {form_question_id: question.id} if question.has_other_option %>
            </div>
        <% elsif [:file_field_tag].include? question.input_type %>
            <%= button_to_function "Select file", "fileUpload('#{dom_id(form)}', '#{dom_id(question)}', #{question.id})", style: "padding: 5px;" %>
        <% else %>
            <%= send(question.input_type, dom_id(question), "", required: question.is_required, data: {form_question_id: question.id}) %>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>

<%= button_to_function "Print", "print(#{form.id}, '#{dom_id(form)}')", class: 'print', title: 'Print' %>
<%= button_to_function "Download PDF", "downloadPDF(#{form.id}, '#{dom_id(form)}')", class: 'save', title: 'Download PDF' %>
<%= button_to_function "Send to JIPS", "deliver(#{form.id}, '#{dom_id(form)}')", class: 'send' %>

<script>
  $(function(){
      setupCmsForm('<%= dom_id(form) %>');
  });

  function downloadPDF(form_id, form_dom_id){
      window.location='/forms/'+form_id+'/download.pdf?form_uuid='+localStorage[form_dom_id];
  }

  function print(form_id, form_dom_id){
      window.open('/forms/'+form_id+'/download?form_uuid='+localStorage[form_dom_id]);
  }

  function deliver(form_id, form_dom_id) {
      if ($('#'+form_dom_id).valid() == true) {
          window.location='/forms/'+form_id+'/deliver?form_uuid='+localStorage[form_dom_id];
      }
  }
</script>
